.list-element {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

@media screen and (min-width: 900px) {
    .list-element {
        flex-direction: row;
    }
    .list-element p {
        text-align: justify;
        width: 25%;
    }
}
